body,html {
  margin:0;
  padding:0;
}
body{
background-image:url("front.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed; 
background-color: black;
}
h1 { color: white; 
font-family: 'Poiret One',Satisfy, cursive;
font-weight: 300; margin-bottom: 0;
margin-top: 5px; margin-bottom: 0px;
font-size: 90px;
text-align: center;
text-shadow: 2px 2px black; }
h3{
    color: white;
    font-family: Times,Satisfy, cursive;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 10px;
    text-align: center;
    font-size: 40px; margin-bottom: 0;
margin-top: 5px; margin-bottom: 0px;
font-family: 'Poiret One', cursive;
    
}
h2{
    color: white;
    font-family: Times,Satisfy, cursive;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 10px;
}
p{
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
div.box{
    margin: 20px;
    background-color: black;
    opacity: 0.9;
    border: 1px solid black;
    width:90%;
    height:80%;


}
div.box p{
    margin: 5%;
    font-size: 20px;
    color: white;
    }